.icon
{
    display: inline-block;

    width:  20px;
    height: 22px;
    /*margin-left: 2px;*/

    vertical-align: top;
}

.arrow-clockwise
{
	content: url('../images/icons/arrow-clockwise.svg');
}

.arrow-counterclockwise
{
	content: url('../images/icons/arrow-counterclockwise.svg');
}

.arrow-repeat
{
	content: url('../images/icons/arrow-repeat.svg');
}

.arrow-right-circle
{
	content: url('../images/icons/arrow-right-circle.svg');
}

.arrow-right-square
{
	content: url('../images/icons/arrow-right-square.svg');
}

.caret-down-fill
{
	content: url('../images/icons/caret-down-fill.svg');
}

.caret-down
{
	content: url('../images/icons/caret-down.svg');
}

.caret-left-fill
{
	content: url('../images/icons/caret-left-fill.svg');
}

.caret-left
{
	content: url('../images/icons/caret-left.svg');
}

.caret-right-fill
{
	content: url('../images/icons/caret-right-fill.svg');
}

.caret-right
{
	content: url('../images/icons/caret-right.svg');
}

.caret-up-fill
{
	content: url('../images/icons/caret-up-fill.svg');
}

.caret-up
{
	content: url('../images/icons/caret-up.svg');
}

.diagram-2
{
	content: url('../images/icons/diagram-2.svg');
}

.file-earmark-text
{
	content: url('../images/icons/file-earmark-text.svg');
}

.file-earmark
{
	content: url('../images/icons/file-earmark.svg');
}

.file-image
{
	content: url('../images/icons/file-image.svg');
}

.filetype-js
{
	content: url('../images/icons/filetype-js.svg');
}

.github
{
	content: url('../images/icons/github.svg');
}

.hurricane
{
	content: url('../images/icons/hurricane.svg');
}

.hypnotize
{
	content: url('../images/icons/hypnotize.svg');
}

.life-preserver
{
	content: url('../images/icons/life-preserver.svg');
}

.pin-angle-fill
{
	content: url('../images/icons/pin-angle-fill.svg');
}

.pin-angle
{
	content: url('../images/icons/pin-angle.svg');
}

.pin-fill
{
	content: url('../images/icons/pin-fill.svg');
}

.pin
{
	content: url('../images/icons/pin.svg');
}

.prescription
{
	content: url('../images/icons/prescription.svg');
}

.python
{
	content: url('../images/icons/python.svg');
}

.record-fill
{
	content: url('../images/icons/record-fill.svg');
}

.record
{
	content: url('../images/icons/record.svg');
}

.return-key-white
{
	content: url('../images/icons/return-key-white.svg');
}

.return-key
{
	content: url('../images/icons/return-key.svg');
}

.rocket-fill
{
	content: url('../images/icons/rocket-fill.svg');
}

.rocket-takeoff-fill
{
	content: url('../images/icons/rocket-takeoff-fill.svg');
}

.rocket-takeoff
{
	content: url('../images/icons/rocket-takeoff.svg');
}

.rocket
{
	content: url('../images/icons/rocket.svg');
}

.screwdriver
{
	content: url('../images/icons/screwdriver.svg');
}

.terminal-white
{
	content: url('../images/icons/terminal-white.svg');
}

.terminal
{
	content: url('../images/icons/terminal.svg');
}

.tools
{
	content: url('../images/icons/tools.svg');
}

.tropical-storm
{
	content: url('../images/icons/tropical-storm.svg');
}

