@font-face {
  font-family: 'jetbrains-mono';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/jetbrains-mono/jetbrains-mono-regular-webfont.woff2") format("woff2"), url("../fonts/jetbrains-mono/jetbrains-mono-regular-webfont.woff") format("woff"), url("../fonts/jetbrains-mono/jetbrains-mono-regular-webfont.ttf") format("truetype"), url("../fonts/jetbrains-mono/jetbrains-mono-regular-webfont.svg#jetbrains-mono") format("svg"); }
@font-face {
  font-family: 'opensans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans/opensans-regular-webfont.svg#opensans") format("svg"); }
@font-face {
  font-family: 'opensans-bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans-bold/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold/opensans-bold-webfont.svg#opensans") format("svg"); }
body {
  font-family: 'opensans';
  width: 650px;
  margin: 0 auto;
  background-color: #ece4d9; }

h2 {
  font-family: 'opensans-bold';
  margin-top: 6px;
  margin-bottom: 12px; }

p {
  line-height: 28px;
  text-align: justify; }

header h1 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 92px;
  font-weight: bold;
  position: relative;
  left: -4px;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -4px;
  color: #f1ebe5;
  text-shadow: 0 8px 9px #c4b59d, 0 -2px 1px #fff; }
header #fork-me {
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 135px;
  border: 0; }
header #subtitle {
  text-align: center; }
header #subtitle-section {
  width: 100%;
  text-align: center; }
  header #subtitle-section .logo {
    width: 18%;
    margin: 10px;
    padding: 10px;
    border-radius: 2px; }
  header #subtitle-section .arrow {
    width: 7%;
    padding: 7px; }

.console, .console-split {
  margin-bottom: 26px;
  border-radius: 3px;
  box-shadow: 0 0 6px 2px #787777; }
  .console figure, .console-split figure {
    display: grid;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(#ebebeb 0%, #f1f1f1 50%, #ebebeb 100%); }
    .console figure figcaption, .console-split figure figcaption {
      position: relative;
      color: #666666; }
  .console pre, .console-split pre {
    font-size: 11px;
    display: grid;
    width: 100%;
    margin-bottom: 0;
    padding: 0; }
    .console pre code, .console-split pre code {
      padding-top: 0;
      padding-right: 1.5em;
      padding-bottom: 0;
      padding-left: 1.5em; }
  .console .note, .console-split .note {
    display: grid;
    padding: 5px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #cbe2e3; }
    .console .note span, .console-split .note span {
      position: relative;
      top: 2px;
      margin-bottom: 4px;
      width: 22px;
      height: 22px; }

.console-split figure {
  grid-template-columns: repeat(2, 1fr);
  gap: 0; }
  .console-split figure figcaption:nth-child(2) {
    padding-left: 4px;
    border-left: 1px solid #cbcbcb; }
.console-split pre {
  grid-template-columns: repeat(2, 1fr);
  gap: 0; }
  .console-split pre code:nth-child(2) {
    color: #3eff4f;
    border-left: 1px solid gray;
    background: black; }
.console-split .note {
  grid-template-columns: repeat(2, 1fr);
  gap: 0; }
  .console-split .note span:nth-child(2) {
    padding-left: 2px;
    border-left: 1px solid #99c6c8; }

/*# sourceMappingURL=main.css.map */
